BatePapo/xml-resources/web-service-references/usuarioWsdl/wsdl/batepaposd.herokuapp.com/service/usuarioWsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.batepapo.com/xml/users" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.batepapo.com/xml/users" targetNamespace="http://www.batepapo.com/xml/users">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.batepapo.com/xml/users">

   <xs:element name="incluirUsuarioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="tns:Usuario"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="incluirUsuarioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="tns:Usuario"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="alterarUsuarioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="tns:Usuario"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="alterarUsuarioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="tns:Usuario"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="excluirUsuarioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="codUsuario" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
        
    <xs:element name="excluirUsuarioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="todosUsuarioRequest"/>
   
   <xs:element name="todosUsuarioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="usuario" type="tns:Usuario"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="inserirAcessoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="codUsuario" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="inserirAcessoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="codUsuario" type="xs:long"/>
                <xs:element name="dataHora" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="inserirPesquisaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="topico" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="inserirPesquisaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="topico" type="xs:long"/>
                <xs:element name="dataHora" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="inserirChatRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="codUsuario1" type="xs:long"/>
                <xs:element name="codUsuario2" type="xs:long"/>
                <xs:element name="topico" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="inserirChatResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="codUsuario1" type="xs:long"/>
                <xs:element name="codUsuario2" type="xs:long"/>
                <xs:element name="topico" type="xs:long"/>
                <xs:element name="dataHora" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="Chat">
	    	<xs:sequence>
	    		<xs:element name="codUsuario1" type="xs:long"/>
            <xs:element name="codUsuario2" type="xs:long"/>
            <xs:element name="topico" type="xs:long"/>
            <xs:element name="dataHora" type="xs:dateTime"/>
	    	</xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="Usuario">
	    	<xs:sequence>
	    		<xs:element name="codUsuario" type="xs:long"/>
	    		<xs:element name="nome" type="xs:string"/>
	    		<xs:element name="iPaddress" type="xs:string"/>
	    	</xs:sequence>
    </xs:complexType>
    
</xs:schema>
  </wsdl:types>
  <wsdl:message name="excluirUsuarioResponse">
    <wsdl:part element="tns:excluirUsuarioResponse" name="excluirUsuarioResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="excluirUsuarioRequest">
    <wsdl:part element="tns:excluirUsuarioRequest" name="excluirUsuarioRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="incluirUsuarioRequest">
    <wsdl:part element="tns:incluirUsuarioRequest" name="incluirUsuarioRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="inserirPesquisaRequest">
    <wsdl:part element="tns:inserirPesquisaRequest" name="inserirPesquisaRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="inserirChatResponse">
    <wsdl:part element="tns:inserirChatResponse" name="inserirChatResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="alterarUsuarioResponse">
    <wsdl:part element="tns:alterarUsuarioResponse" name="alterarUsuarioResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="todosUsuarioResponse">
    <wsdl:part element="tns:todosUsuarioResponse" name="todosUsuarioResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="incluirUsuarioResponse">
    <wsdl:part element="tns:incluirUsuarioResponse" name="incluirUsuarioResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="todosUsuarioRequest">
    <wsdl:part element="tns:todosUsuarioRequest" name="todosUsuarioRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="inserirAcessoResponse">
    <wsdl:part element="tns:inserirAcessoResponse" name="inserirAcessoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="inserirChatRequest">
    <wsdl:part element="tns:inserirChatRequest" name="inserirChatRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="inserirPesquisaResponse">
    <wsdl:part element="tns:inserirPesquisaResponse" name="inserirPesquisaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="inserirAcessoRequest">
    <wsdl:part element="tns:inserirAcessoRequest" name="inserirAcessoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="alterarUsuarioRequest">
    <wsdl:part element="tns:alterarUsuarioRequest" name="alterarUsuarioRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UsuariosPort">
    <wsdl:operation name="excluirUsuario">
      <wsdl:input message="tns:excluirUsuarioRequest" name="excluirUsuarioRequest">
    </wsdl:input>
      <wsdl:output message="tns:excluirUsuarioResponse" name="excluirUsuarioResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="incluirUsuario">
      <wsdl:input message="tns:incluirUsuarioRequest" name="incluirUsuarioRequest">
    </wsdl:input>
      <wsdl:output message="tns:incluirUsuarioResponse" name="incluirUsuarioResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserirPesquisa">
      <wsdl:input message="tns:inserirPesquisaRequest" name="inserirPesquisaRequest">
    </wsdl:input>
      <wsdl:output message="tns:inserirPesquisaResponse" name="inserirPesquisaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserirChat">
      <wsdl:input message="tns:inserirChatRequest" name="inserirChatRequest">
    </wsdl:input>
      <wsdl:output message="tns:inserirChatResponse" name="inserirChatResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alterarUsuario">
      <wsdl:input message="tns:alterarUsuarioRequest" name="alterarUsuarioRequest">
    </wsdl:input>
      <wsdl:output message="tns:alterarUsuarioResponse" name="alterarUsuarioResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="todosUsuario">
      <wsdl:input message="tns:todosUsuarioRequest" name="todosUsuarioRequest">
    </wsdl:input>
      <wsdl:output message="tns:todosUsuarioResponse" name="todosUsuarioResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserirAcesso">
      <wsdl:input message="tns:inserirAcessoRequest" name="inserirAcessoRequest">
    </wsdl:input>
      <wsdl:output message="tns:inserirAcessoResponse" name="inserirAcessoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsuariosPortSoap11" type="tns:UsuariosPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="excluirUsuario">
      <soap:operation soapAction=""/>
      <wsdl:input name="excluirUsuarioRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="excluirUsuarioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="incluirUsuario">
      <soap:operation soapAction=""/>
      <wsdl:input name="incluirUsuarioRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="incluirUsuarioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserirPesquisa">
      <soap:operation soapAction=""/>
      <wsdl:input name="inserirPesquisaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="inserirPesquisaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserirChat">
      <soap:operation soapAction=""/>
      <wsdl:input name="inserirChatRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="inserirChatResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alterarUsuario">
      <soap:operation soapAction=""/>
      <wsdl:input name="alterarUsuarioRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="alterarUsuarioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="todosUsuario">
      <soap:operation soapAction=""/>
      <wsdl:input name="todosUsuarioRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="todosUsuarioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserirAcesso">
      <soap:operation soapAction=""/>
      <wsdl:input name="inserirAcessoRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="inserirAcessoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuariosPortService">
    <wsdl:port binding="tns:UsuariosPortSoap11" name="UsuariosPortSoap11">
      <soap:address location="https://batepaposd.herokuapp.com:443/service/batepapo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>